*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 25px;
}

.container{
    display: grid;
}

sup{
    font-size: 10px;
    padding-right: 2px;
}


body {
    font-family: sans-serif;
    font-size: 40px;
    width: 100%;
    min-height: 100vh;
}

.element{
    border-right: solid 0.1px black;
    border-bottom: solid 0.1px black;
    padding: 5px;
}

[class^="period-"]{
    display: grid;
}

.period-1{
    grid-template-columns: 1.1fr 17.9fr 1.1fr;
}

.period-2, .period-3{
    grid-template-columns: repeat(2, 0.99fr) 9.9fr repeat(6, 0.99fr);
}

.period-4, .period-5, .period-6, .period-7, .period-8{
    grid-template-columns: repeat(18, 1fr);
}
.transition{
    background-color: rgb(66, 140, 238);
}

.alkali{
    background-color: rgba(165, 156, 79, 0.849);
}

.non-metal{
    background-color: rgba(161, 83, 59, 0.575);
}

.alkaline-earth{
    background-color: rgb(213, 228, 9);
}

.rae{
    background-color: yellow;
}

.halogens{
    background-color: rgb(21, 255, 0);
}

.other-metals{
    background-color: rgb(255, 0, 157);
}
.actinoids{
    background-color: rgb(123, 134, 141);
}


